@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

body {
    background: #ECEEEF;
    text-align: center;
    margin: 100px auto;
    width: 80%;
    padding: 0 40px;
    font: 14px normal 'Varela Round', Helvetica, serif;
}

h1 {
    font-size: 30px;
    color:blue;
}

div {
    background: #056bc4;
    border-radius: 4px;
    border: 1px solid #D5DDE4;
    margin: -40px 0 0;
}

ol {
    list-style-type: none;
    padding: 0;
    background:white;
    margin: 0 0;
    width: 100%;
    display: inline-block;

}

li{
    font-size: 20px;
    color: #07090c;
    width: 96%;
    padding: 15px 2%;
    margin: 0;
    text-align: left;
    border-top: 1px solid #4d9de2;
    text-decoration: line-through;
  
}


}

li span {
    float: right;
    color: #284e6b;
}

li.current {
    background: #ffd7d8;
}
.toDoList li a:hover {
    text-decoration: line-through;
}

button {
    opacity: 0.5;
    margin:10px;
    padding:10px 35px;
    border: none;
    border-radius: 5px;
    background: green;
    
}
input {
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 10px 35px;
    float: left;
    font-size: 16px;
}